/homework_11_autoencoders/models_states/
/homework_11_autoencoders/data/
/homework_10_cnn/data/
/homework_10_cnn/models_states/
/homework_9/__pycache__/
/homework_9/data/
/homework_9/models_states/
/homework_9/cnn_s/__pycache__/
/homework_8/logistirc_regression_torch.ipynb
/homework_8/models_states/
/homework_8/data.csv
/homework_8/homework8_data.csv
/homework_7/model_states/
/homework_7/ice_cream.csv
/homework_2/homework2_data.csv
/homework_3/homework3_data.csv
/homework_5/heartRisk.csv